.nav-toggle {
  position: fixed;
  top: var(--spaceOuter);
  right: var(--spaceOuter);
  width: var(--space2XL);
  height: var(--space2XL);
  z-index: 1024;
}

.nav-toggle__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.nav-toggle__icon {
  position: absolute;
  transition-property: opacity, fill;
  transition-duration: var(--durationM);
  transition-timing-function: var(--bezierFastoutSlowin);
  opacity: 1;
  transform: rotate(0deg);
  fill: var(--colorTextBody);
  width: var(--spaceXL);
  height: var(--spaceXL);
}

@media (prefers-reduced-motion: no-preference) {
  .nav-toggle__icon {
    transition-delay: 0.1s;
    transition-property: opacity, transform, fill;
  }
}

.nav-toggle__icon--open {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .nav-toggle__icon--open {
    transition-delay: 0s;
    transform: rotate(45deg);
  }
}

.nav-toggle__icon--close {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .nav-toggle__icon--close {
    transition-delay: 0s;
    transform: rotate(-45deg);
  }
}

.nav-toggle__icon--open.nav-toggle__icon--close {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .nav-toggle__icon--open.nav-toggle__icon--close {
    transition-delay: 0.1s;
    transform: rotate(0deg);
  }
}
